/*  your css code here. If applicable */
body {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			display: flex;
			flex-direction: row;
			height: 100vh;
		}
		
		.panel {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex: 1;
			background-position: center;
			background-size: cover;
			cursor: pointer;
			transition: flex 0.5s ease-in-out;
		}
		
		.panel.active {
			flex: 5;
		}
		
		h3 {
			font-size: 3rem;
			color: white;
			text-shadow: 2px 2px black;
			margin: 0;
			padding: 0;
			text-align: center;
			opacity: 0;
			transition: opacity 0.5s ease-in-out;
		}
		
		.panel.active h3 {
			opacity: 1;
		}